body{
    text-align: center;
}
.services{
    text-align: center;
    width: 300px;
    margin-left: 450px;
    }
    .demo img{
        height: 300px;
        width: 400px;
    }
    button{
        height: 40px;
        width: 100px;
        background-color: rgb(93, 93, 241);
        -webkit-text-fill-color: white;
    }